@use 'allGames';
@use 'createGame';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


body {
    color: white;
    background: -webkit-radial-gradient(-180px 0px,circle ,#0053ad 300px,#001b85 500px,#000223);
    margin: 35px 0px 0px 100px;
}

a {
    color: white;
    text-decoration: none;
    
    :hover {
        color: rgb(20, 226, 123);
    }
}

