$cololr-default : rgb(20, 226, 123);

header {
    margin: 0 10% 0 0;
}

.navbar-brand {
    color: white;
    text-decoration: none;
    :active {
        color: rgb(20, 226, 123);
    }    
    :hover {
        color: rgb(20, 226, 123);
    }
    :visited {
        color: rgb(20, 226, 123);
    }
}

.dropdown-menu {
    .dropdown-item {
        color: white;
    }
    background: -webkit-radial-gradient(-180px 0px,circle ,#0053ad 300px,#001b85 500px,#000223);
}